**Question 1. (60 pts total)** For this question you will be using either the dplyr package from R or
the Pandas library in Python to manipulate and clean up a dataset called NBA_Stats_22_23.csv
(available in the Modules section on Canvas under the folder Datasets for Assignments). This data
was pulled from https://www.nba.com/stats website.

The dataset contains information about the Men’s National Basketball Association games in 2022-2023. It has 539 rows and 25 variables. Here is a description of the variables:

Variable Description

PLAYER Name of the player

TEAM Name of the team

AGE Age of the player

GP Games Played

W Wins

L Losses

MIN Minutes Played

PTS Points

FGM Field Goals Made

FGA Field Goals Attempted

X3PM 3 Point Field Goals Made

X3PA 3 Point Field Goals Attempted

FTM Free Throws Made

FTA Free Throws Attempted

OREB Offensive Rebounds

DREB Defensive Rebounds

REB Rebounds

AST Assists

TOV Turnovers

STL Steals

BLK Blocks

PF Personal Fouls

FP Fantasy points

DD2 Double Doubles

TD3 Triple Doubles

Load the data into R or Python. All the tasks in this assignment can be hand coded, but the goal is
to use the functions built into dplyr or Pandasto complete the tasks. Suggested functions for Python
are shown in blue while suggested R functions are shown in red. Note: if you are using Python, be
sure to load the data as a Pandas DataFrame.

Below are the tasks to perform. Before you begin, print the first few values of the columns with a header containing the string “X3”. (head(), head())

In [ ]:
import pandas as pd
nba = pd.read_csv('NBA_Stats_22_23.csv')
filter_x3 = pd.read_csv('NBA_Stats_22_23.csv').filter(like='X3')
print(filter_x3.head())

   X3PM  X3PA
0   101   259
1    36    88
2   146   360
3     0     4
4     0     1

**a) (10 pts)** Count the number of players with Free Throws Made greater than 60 and Assists
greater than 80. (filter(), query())

In [ ]:
import pandas as pd

# Use query.
find_players = nba.query('FTM > 60 and AST > 80')
# Then count the number of players and print.
count_player = len(find_players)
print("The number of players with Free Throws Made greater than 60 and Assists greater than 80 is", count_player)

The number of players with Free Throws Made greater than 60 and Assists greater than 80 is 189

**b) (10 pts)** Print the PLAYER, TEAM, W, L, FGM, TOV and PTS of the players with the 10
highest points, in descending order of points. (select(), arrange(), loc(), sort_values()). Which
player has the second highest points?

In [ ]:
import pandas as pd

# Sorted as descending order of points.
sorted_order = nba.sort_values(by = 'PTS', ascending=False)

# Find the PLAYER, TEAM, W, L, FGM, TOV and PTS of the players.
new_columns = ['PLAYER', 'TEAM', 'W', 'L', 'FGM', 'TOV', 'PTS']
top_players = sorted_order[new_columns].head(10)
print("Top 10 players is")
print(top_players)
print("------------------------------")
# Find the player has the second highest points.
second_players = top_players.iloc[1]
print("The player has the second highest points is")
print(second_players)

Top 10 players is
                      PLAYER TEAM   W   L  FGM  TOV   PTS
44              Jayson Tatum  BOS  52  22  727  213  2225
393              Joel Embiid  PHI  43  23  728  226  2183
120              Luka Doncic  DAL  33  33  719  236  2138
366  Shai Gilgeous-Alexander  OKC  33  35  704  192  2135
287    Giannis Antetokounmpo  MIL  47  16  707  246  1959
302          Anthony Edwards  MIN  40  39  707  259  1946
345            Julius Randle  NYK  44  33  658  216  1936
95          Donovan Mitchell  CLE  44  24  679  180  1922
14                Trae Young  ATL  38  35  597  300  1914
89               Zach LaVine  CHI  38  39  673  194  1913
------------------------------
The player has the second highest points is
PLAYER    Joel Embiid
TEAM              PHI
W                  43
L                  23
FGM               728
TOV               226
PTS              2183
Name: 393, dtype: object

**c)(10 pts)** Add two new columns to the dataframe: FGP (in percentage) is the ratio of FGM to
FGA, FTP (in percentage) is the ratio of FTM to FTA. Note that the unit should be expressed
in percentage (ranging from 0 to 100) and rounded to 2 decimal places (e.g., for AJ Griffin,
FGP is 46.53) (mutate(), assign()). What is the FGP and FTP for Joe Harris?

In [ ]:
import pandas as pd

# FGP (in percentage) is the ratio of FGM to FGA, FTP (in percentage) is the ratio of FTM to FTA.
nba['FGP'] = (nba['FGM'] / nba['FGA']) * 100
nba['FTP'] = (nba['FTM'] / nba['FTA']) * 100

# Find Jor Harris's data.
joe_FGP = nba.loc[nba['PLAYER'] == 'Joe Harris', 'FGP'].values[0]
joe_FTP = nba.loc[nba['PLAYER'] == 'Joe Harris', 'FTP'].values[0]

# Print Joe Harris's FGP and FTP.
print("Joe Harris's FGP is", round(joe_FGP, 2))
print("Joe Harris's FTP is", round(joe_FTP, 2))

Joe Harris's FGP is 45.68
Joe Harris's FTP is 64.29

**d) (14 pts)** Display the average, min and max PF for each team, in descending order of the team
average. (group_by(), summarise(), groupby(), agg()). You can exclude NAs for this
calculation. Which team has the max PF?

In [ ]:
import pandas as pd

# Display the average, min and max PF for each team
team_data = nba.groupby('TEAM')['PF'].agg(['mean', 'min', 'max']).reset_index()
# In descending order of the team average.
team_sorted = team_data.sort_values(by='mean',ascending=False)
print(team_sorted)
print("------------------------------")
# Find which team has the max PF.
max_sorted = team_data.sort_values(by='max',ascending=False)
# In descending order of the team max.
max_PF_team = max_sorted.iloc[0]['TEAM']
print(max_PF_team,"has the max PF.")

   TEAM        mean  min  max
19  NYK  114.937500    0  233
23  PHX  108.062500   32  190
18  NOP  106.250000    1  245
9   GSW  102.705882    0  229
20  OKC  102.500000    5  243
10  HOU  102.066667    1  258
22  PHI  101.555556    0  209
17  MIN  100.888889   10  272
12  LAC  100.777778    2  219
7   DEN   99.500000    9  190
27  TOR   98.500000    3  228
11  IND   97.666667    4  235
4   CHI   96.235294    1  187
0   ATL   94.055556    0  251
14  MEM   93.555556    3  240
1   BKN   93.450000    1  239
8   DET   91.315789    0  242
21  ORL   89.705882    2  183
2   BOS   89.611111    2  192
15  MIA   88.529412   11  208
5   CLE   88.294118    0  218
13  LAL   85.000000    3  190
25  SAC   80.950000    0  279
16  MIL   80.500000    7  203
6   DAL   79.666667    0  209
3   CHA   79.000000    0  193
24  POR   78.238095    0  185
29  WAS   74.800000    1  209
26  SAS   70.476190    3  199
28  UTA   69.350000    0  232
------------------------------
SAC has the max PF.

**e) (16 pts)** In question 1c, you added a new column called FTP. Impute the missing (or NaN) FTP
values as the FGP (also added in 1c) multiplied by the average FTP for that team. Make a
second copy of your dataframe, but this time impute missing (or NaN) FTP values with just
the average FTP for that team. What assumptions do these data filling methods make? Which
is the best way to impute the data, or do you see a better way, and why? You may impute or
remove other variables as you find appropriate. Briefly explain your decisions. (group_by(),
mutate(), groupby(),assign())

In [ ]:
import pandas as pd

# FGP (in percentage) is the ratio of FGM to FGA, FTP (in percentage) is the ratio of FTM to FTA.
nba = nba.assign(FGP=lambda x: (x['FGM'] / x['FGA']) * 100)
nba = nba.assign(FTP=lambda x: (x['FTM'] / x['FTA']) * 100)

# Calculated the average FTP for that team.
avg_FTP = nba.groupby('TEAM')['FTP'].mean()
# Make copy.
first_copy = nba.copy()
# Impute the missing FTP values as the FGP multiplied by the average FTP.
first_copy.loc[first_copy['FTP'].isnull(), 'FTP'] = first_copy['FGP'] * first_copy['TEAM'].map(avg_FTP)
# Count and print how many missing values.
naN_FTP_1 = first_copy['FTP'].isnull().sum()
print("Find missing values use first method:",naN_FTP_1)

# Make copy.
second_copy = nba.copy()
# Impute missing FTP values with the average FTP.
second_copy['FTP'] = second_copy['FTP'].fillna(second_copy['TEAM'].map(avg_FTP))
# Count and print how many missing values.
naN_FTP_2 = second_copy['FTP'].isnull().sum()
print("Find missing values use second method:",naN_FTP_2)

Find missing values use first method: 2
Find missing values use second method: 0